@font-face {
  font-weight: normal;
  font-family: 'Friction Mono';
  font-style: normal;
  src: url('fonts/friction-mono.woff2') format('woff2'),
       url('fonts/friction-mono.woff') format('woff'),
       url('fonts/friction-mono.otf') format('opentype');
}
